@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Asap);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
html, body {
  color: #5b5941;
  height: 100%;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  /*  border: 5px solid red;*/
  display: flex;
  overflow: none;
}

h1 {
  font-family: 'Open Sans';
  font-size: 1.5rem;
}

h2 {
  font-size: 1.05rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
}

p {
  font-family: 'Open Sans';
  font-size: 0.75rem;
}

nav {
  background-color: white;
  height: 2rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header {
  font-family: 'Bitter';
  font-weight: 800;
  margin: 0.5rem 1rem 0;
  text-align: left;
}

.block-workspace {
  background-color: #e3f09b;
  bottom: 0;
  display: inline-block;
  height: 100%;
  padding-top: 2.5rem;
  width: 60%;
}

/*Work space items*/
.node {
  background-color: #87B6A7;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 3rem;
  margin: 0.25rem;
  padding: 0.5rem;
  transition: all .2s ease-in-out;
  text-align: center;
  width: 3rem;
}
.node .node-val {
  color: #5b5941;
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
.node:before {
  content: attr(data-face);
  z-index: 5;
}

.block-console {
  display: none;
}

.block-dialog {
  background-color: #F79F79;
  bottom: 0;
  display: inline-block;
  height: 100%;
  padding: 2rem 1rem;
  width: 40%;
}

.block-dialog-title {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.block-display {
  height: 6rem;
  white-space: nowrap;
}

.box {
  border: 4px solid purple;
  border-radius: 1rem;
  display: inline-block;
  float: left;
  margin: 0.05rem;
  white-space: nowrap;
}

.box-active {
  border: 4px solid pink;
  border-radius: 1rem;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.block-carousel {
  display: block;
  height: 3rem;
  left: 0;
  margin: 0 auto;
  width: 30rem;
  position: fixed;
  text-align: center;
  z-index: 15;
}

.block-carousel-item {
  background-color: gray;
  color: gray;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 1rem;
  margin: 0.75rem 0.25rem 0 0;
  transition: all .2s ease-in-out;
  width: 1rem;
  z-index: 20;
}
.block-carousel-item:hover, .block-carousel-item:visited, .block-carousel-item:active {
  background-color: white;
  color: white;
  transform: scale(1.1);
}

.selected {
  background-color: white;
  color: white;
  transform: scale(1.1);
}

.block-footer {
  background-color: #5b5941;
  bottom: 0;
  border: none;
  color: white;
  font-size: 0.5rem;
  float: left;
  height: 4rem;
  position: fixed;
  text-align: right;
  width: 100%;
  z-index: 10;
}

.btn-container {
  display: inline-block;
}

.btn {
  background-color: gray;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 2.5rem;
  margin: 0.25rem 0.5rem;
  transition: all .2s ease-in-out;
}
.btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

.hovering {
  -webkit-animation-name: scalex;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: scale;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

.hovering:nth-child(even) {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
}

.hovering:nth-child(odd) {
  -webkit-animation-duration: 3.5s;
  -moz-animation-duration: 3.5s;
}

@-webkit-keyframes scalex {
  from {
    -webkit-transform: scale(0.9);
  }
  65% {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.9);
  }
}
@-moz-keyframes scale {
  from {
    -moz-transform: scale(0.9);
  }
  65% {
    -moz-transform: scale(1);
  }
  to {
    -moz-transform: scale(0.9);
  }
}
/*Import fonts*/
#imprima {
  font-family: Imprima;
}

#open_sans {
  font-family: 'Open Sans';
  /* font-weight: 700; */
}

#bitter {
  font-family: bitter;
}

#asap {
  font-family: asap;
}

#bree_serif {
  font-family: 'Bree Serif';
}
